<%- include ("header") -%>
<h2>
  This is the about page for your To Do List
</h2>
<p>some random texts about the ToDoList and what are the various features it provides to all the users!</p>
<%- include ("footer") -%>
